/*=======================================
           --Body Style--
=======================================*/

body {
	font-family: arial , sans-serif;
	position: relative;
	margin: 0;
}

/*=======================================
           --Header--
=======================================*/

#header {
	//background: #39587e;
	//background: #132d4d;
	//background: #24282c;
	background: #3c434b;
}

#header li {
	display: inline;
	text-decoration: none;
}

#header li a{
	text-decoration: none;
	font-size: .8em;
	color: white;
}

#header li a:hover {
	//color: #26a0da;
	color: #a6f4ff;
	text-decoration: underline;
}

#header aside.search {
	width: 750px;
	position: absolute;
	top: 0px;
	left: 13.5%;
}

#header aside.search form {
	position: absolute;
	top: 15px;
	left: 25%;
}

#seatchText {
	font-size: 15px;
	height: 36px;
	width: 500px;
	border: 1px solid #26a0da;
	border-right: 0px;
    border-left: 0px;
}

#seatchText:focus {
	//height: 37px;
    border: 2px solid #26a0da;
    //border: 2px solid #dc1505;
    border-right: 0px;
    border-left: 0px;
}

#searchSubmit {
	position: absolute;
	top: 0px;
	right: -79px;
	//border: 2px solid #707070;/*gray*/
	border: 2px solid #26a0da;
	font-size: 14px;
	height: 36px;
	width: 80px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	//background:  #dc1505; 
	//background-color: #c85014;
	background-color: #3c434b;
    //background-image: url('../images/search.png');
    //padding-left: 25px;
    background-repeat: no-repeat;
    color: white;
    border-left: 0px;
}

#searchSubmit:hover {
	color: #26a0da;
	border: 2px solid #26a0da;
	//background: #a6f4ff;
	//background-position: 0px 0px; 
	//background-image: url('../images/search.png');
	//background-repeat: no-repeat;
	border-left: 0px;
	cursor: pointer;
}	

#header aside.top-nav {
	position: absolute;
	top: 45px;
	left: 18%;
}

#header aside.top-nav ul li a {
	font-size: 13px;
	margin-right: 11px;
}

#header aside.info {
	position: absolute;
	top: 8px;
	left: 72%;
	font-size: 15px;
}

#header aside.info li {
	margin-left: 7px;
}

#header aside.logo a {
	color: white;
	text-decoration: none;
	font-size: .9em;
}

#header aside.logo a:hover {
	text-decoration: underline;
	color: #a6f4ff;	
}

#header aside.logo a.lang {
	position: absolute;
	top: 20px;
	left: 16%;
}

#header aside.depa a {
	font-size: .9em;
	text-decoration: none;
	color: white;
}

#header aside.depa a:hover {
	text-decoration: underline;
	color: #a6f4ff;
}

#header aside.depa {
	position: absolute;
	top: 67px;
	left: 5%;
}

#header aside.depa::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 8px;
	left: 88px;
	border-top: 4px solid white;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#signUp {
	margin-right: 10px;
}

#signUp::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 26px;
	left: 102px;
	border-top: 4px solid white;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#login {
	margin-right: 10px;
}

#login::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 26px;
	left: 166px;
	border-top: 4px solid white;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#header aside.credentials {
	position: absolute;
	top: 50px;
	right: 5%;
}

#header aside.credentials ul li {
	display: inline;
	margin-left: 10px;
}

#header aside.credentials ul li a {
	font-size: .9em;
	color: white;
	text-decoration: none;	
}

#header aside.credentials ul li a:hover {
	color: #a6f4ff;
	text-decoration: underline;	
}

#head-body-separater {
	height: 47px;
	width: 100%;
	clear: both;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}


/*=======================================
           --Nav SECTION--
=======================================*/

#nav{	
	background: rgba(190,190,190,.1);
	margin-top: -16px;
}
#nav div ul{
	padding-top: 5px;
	padding-bottom: 8px;
	margin-left: -25px;
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 0;
}
#nav div ul li{
	display: inline;
	margin-right: 10px;
	padding-left: 0px;
}
#nav div ul li a{
	text-decoration: none;
	font-size: .8em;
	color: rgba(0,0,0,.8);
}
#nav div ul li a:hover{
	text-decoration: underline;
	color: #dc1505;
}

/*=======================================
           --Main SECTION--
=======================================*/
#pic-1 {
	position: absolute;
	left: 0px;
	top: 125px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pic-2 {
	position: absolute;
	left: -1500px;
	top: 125px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pic-3 {
	position: absolute;
	left: -1500px;
	top: 125px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pic-4 {
	position: absolute;
	left: -1500px;
	top: 125px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pic-5 {
	position: absolute;
	left: -1500px;
	top: 125px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pic-6 {
	position: absolute;
	left: -1500px;
	top: 125px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#arrowleft {
	position: absolute;
	left: 20px;
	top: 240px;
}

#arrowright {
	position: absolute;
	right: 20px;
	top: 240px;
}

#body-body-separater {
	height: 298px;
	width: 100%;
	clear: both;
}

#home-nav-1 {
	margin-top: 30px;
	//background: #e4f1f7;
	background: #f3f3f2;
	width: 27%;
	margin-left: 85px;
	float: left;
	height: 530px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 0px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-nav-2 {
	position: relative;
	margin-top: 30px;
	background: #f3f3f2;
	width: 27%;
	margin-left: 40px;
	float: left;
	height: 530px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 0px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-nav-2 h2 {
	margin-left: 110px;
	margin-top: 80px;
	font-size: 2em;
	color: rgba(0,0,0,.8);
	font-weight: normal;
}

#home-nav-2 p.best-exp {
	font-size: 16px;
	margin-left: 69px;
	font-weight: bold;
	color:  rgba(220,21,5,1);
	margin-top: -15px;
}

#home-nav-2 > a {
	text-decoration: none;
	border: 1px solid rgba(0,0,0,.3);
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 10px;
	padding-bottom: 9px;
	border-radius: 5px;
	font-weight: bold;
	color: white;
	background: rgba(220,21,5,.9);
	position: absolute;
	top: 45%;
	left: 4%;
}

#home-nav-2 > a:hover {
	background: rgba(220,21,5,1);
	border: 1px solid rgba(0,0,0,.6);
	color: #a6f4ff;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#new-to-para {
	//border-radius: 6px;
	border-top: 1px solid rgba(0,0,0,.2);
	margin-top: 327px;
	padding-top: 10px;
	padding-left: 55px;
	margin-left: 14px;
	margin-right: 14px;
	font-size: .9em;

}

#new-to-para a{
	text-decoration: none;
	color: blue;
}

#new-to-para a:hover {
	text-decoration: underline;
	color: rgba(220,21,5,1);
}

#home-nav-3 {
	margin-top: 30px;
	background: #f3f3f2;
	width: 27%;
	margin-left: 40px;
	float: left;
	height: 530px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 0px;
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#body-footer-separater{
	height: 625px;
}

/*=======================================
           --Footer SECTION--
=======================================*/
#footer {
	height: 335px;
	background: #3c434b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#copy-right {
	height: 60px;
	background: #090b1c;
}

/*=======================================
           --PopUp SECTION--
=======================================*/


#signUp-popup {
	color: white;
	background: #3c434b;
	display: none;
	border: 1px solid white;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-right: 5px;
	position: absolute;
	top: 86px;
	right: 5px;
	border-radius: 4px;
	border-bottom: 3px solid red;
}

#signUp-popup .signup-table {
	width: 330px;
}

#signUp-popup .signup-table input {
	width: 210px;
}

#signUp-popup .signup-table-cl-1 {
	width: 95px;
	color: white;
}

#signUp-popup .signup-table td input .Submit1 {
	width: 10px;
}

#signUp-popup p {
	font-size: 0.9em;
}

/*------------------------------------------*/

#login-popup {
	color: white;
	background: #3c434b;
	display: none;
	border: 1px solid white;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-right: 5px;
	position: absolute;
	top: 86px;
	right: 5px;
	border-radius: 4px;
	border-bottom: 3px solid red;
}

#login-popup .signup-table {
	width: 330px;
}

#login-popup .signup-table input {
	width: 210px;
}

#login-popup .signup-table-cl-1 {
	width: 95px;
	color: white;
}

#login-popup .signup-table td input .Submit1 {
	width: 10px;
}

#login-popup p {
	font-size: 0.9em;
	

}

#search-result {
	display: none;
	background: white;
	width: 499px;
	position: absolute;
	top: 45px;
	left: 27.4%;
}

#search-result p:hover {
	//border: 1px solid rgba(0,0,0,.2);
	background: #eee;
	
	color: rgba(0,0,0,1);
}

#search-result p a {
	margin-left: 5px;
	text-decoration: none;
	color: rgba(0,0,0,.6);
}

/*------------------------------------------*/

#depa-content {
	display: none;
	position: absolute;
	top: 85px;
	left: 2%;
	width: 17%;
	background: #f1f1f1;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#depa-content li {
	list-style-type: none;
	padding-top: 18px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.3);
	font-size: 16px;
}

#depa-content ul {
	padding: 0;
	padding-left: 25px;
	margin-top: 0;
	margin-bottom: 0; 
}

#depa-content li a {
	text-decoration: none;
}

#depa-content li a:hover {
	color: orange;
}

#depa-content ul li:first-child::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: -6px;
	left: 124px;
	border-bottom: 8px solid #f1f1f1;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

/*------------------------------------------*/

